<main class="detalle">
  <div class="breadcrumb-class">Está en:<a href="index.html" target="_self" title="Inicio">Ciencias Humanas</a><span> > Ubicaciones </span></div>
            <h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
      <h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
      <p id="notice"><%= notice %></p>

      <h1 style="text-align: center">Ubicación de las solicitudes</h1>
    <div class="links">
    <%= link_to 'Agregar Ubicación', new_ubicacion_path %>|
    <%= link_to "Regresar", welcome_index_path  %>
  </div>
  <div class="div-table">
  <table style="width:100%" class="sol_table">
    <thead>
      <tr>
        <th colspan="1">Lugar</th>
        <th colspan="1">Responsable</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @ubicacions.each do |ubicacion| %>
        <tr>
          <td colspan="1"><%= ubicacion.lugar %></td>
          <td colspan="1"><%= ubicacion.users.map{|p| p.nombre}.to_sentence %></td>
          <td colspan="3" style="padding-bottom: 20px;">
            <div class="actions boton"><%= link_to 'Ver', ubicacion %></div>
            <div class="actions boton"><%= link_to 'Editar', edit_ubicacion_path(ubicacion) %></div>
            <div class="actions boton"><%= link_to 'Eliminar', ubicacion, method: :delete, data: { confirm: '¿Estas seguro?' } %></div>
           </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>

</main>

