<main class="detalle">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Lugar:</strong>
    <%= @ubicacion.lugar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @ubicacion.user %>
  </p>
  <div class="links">
    <%= link_to 'Edit', edit_ubicacion_path(@ubicacion) %> |
    <%= link_to 'Back', ubicacions_path %>
  </div>
</main>

