<%= form_for :observation, url: solicitud_observations_path do |f| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :motivo %>
    <%= f.text_field :motivo %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <%= f.hidden_field :solicitud_id, :value => @solicitud.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

