
<%= form_for(informe) do |f| %>
  <% if informe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informe.errors.count, "error") %> prohibited this informe from being saved:</h2>

      <ul>
      <% informe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :archivo %>
    <%= f.file_field :archivo, id: :informe_archivo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
