
 <main class="detalle">
<div class="breadcrumb-class">Está en:<a href="index.html" target="_self" title="Inicio">Ciencias Humanas</a><span> > Informes </span></div>
            <h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
      <h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
      <p id="notice"><%= notice %></p>

      <h1 style="text-align: center">Mis Informes</h1>
      <div class="links">
          <%= link_to 'Nuevo Informe', new_informe_path,  :class => 'navbar-link' %> | 
          <%= link_to "Regresar", welcome_index_path  %>
    </div>
    <div class="div-table">
        <table style="width:100%" class="sol_table">
  <thead>
    <tr>
      <th colspan="1">Nombre</th>
      <th colspan="1">Archivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informes.each do |informe| %>
      <tr class="sol_table">
        <td colspan="1"><%= informe.nombre %></td>
        <td colspan="1"><%= image_tag informe.archivo.url, :width => 210, :height => 220  %></td>
        <td colspan="3" style="padding-bottom: 20px;">
        <div class="actions boton"><%= link_to 'Ver', informe %></div>
        <div class="actions boton"><%= link_to 'Editar', edit_informe_path(informe) %></div>
        <div class="actions boton"><%= link_to 'Eliminar', informe, method: :delete, data: { confirm: 'Estas seguro?' } %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
      <br>
</main>
