<main class="detalle">
			<div class="breadcrumb-class">Está en:<a href="index.html" target="_self" title="Inicio">Ciencias Humanas</a><span>Solicitudes </span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
			<p class="navbar-text pull-right">
			<div class="links">
				<% if user_signed_in? %>
				<p style="text-align: center; font-size: 20px;"><strong>Bienvenido: </strong><%= current_user.email %></p><br>
				<%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
				
				<% if policy(current_user).responsable? %>
				<%= link_to " Mis Solicitudes", responsable_solicituds_path, :class => 'navbar-link' %> |			
					<% elsif policy(current_user).admin? %>
				<%= link_to " Ver Solicitudes", admin_solicituds_path, :class => 'navbar-link' %> |
				<%= link_to "Informes", admin_solicituds_path, :class => 'navbar-link' %> |
				<% else %>
					<%= link_to " Mis Solicitudes", solicituds_path, :class => 'navbar-link' %> |
				<% end %>
				
				<%= link_to "Salir", logout_path , method: :delete, :class => 'navbar-link' %> 
				<% else %>
				<%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
				<%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</div>
			</p>
			</main>