
<%= form_for(solicitud) do |f| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> No se ha podido crear la solicitud:</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripción %><br>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :tipo %> 
    <%= f.select :tipo, ['Carpintería','madera','Carpintería metálica
','Cerrajería','Electricidad','Mampostería','Mejoras locativas','Pintura','Plomería','Reparación de cubiertas','Traslado elemento','Vidrios','otro']%>
  </div>


  <div class="field">
    <%= f.label :importancía %>
    <%= f.select  :importancia, ['Urgente', 'Programable']%>
  </div>

  <div class="field">
    <%= f.label :materiales %>
    <%= f.text_field :materiales %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
   <%= f.select :ubicacion_id, options_from_collection_for_select(Ubicacion.all, 'id','lugar')%>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
