<main class="detalle">
			<div class="breadcrumb-class">Está en: Ciencias Humanas ><span>Solicitudes </span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
			<p id="notice"><%= notice %></p>

      <h1 style="text-align: center">Solicitudes</h1>
			<h3 style="text-align: center"><%= current_user.email%> : <%= current_user.rol%> </h3>
						<div class="links">
					<%= link_to "Exportar Datos - Excel", admin_solicituds_path(format: "xlsx") %>
					<%= link_to "Salir", logout_path , method: :delete, :class => 'navbar-link' %>
				<!-- <%= link_to "Regresar", :back %>-->
					
				</div>

			<div>
					<%= form_tag admin_solicituds_path, method: 'get' do %>
					<div class="field inline">
						<%= label_tag 'Estado', nil, class:"label_tag" %>
						<%= select_tag :estado, options_for_select(@solicituds.uniq.pluck(:estado), params[:estado]),  {:include_blank => 'Todas'} %>
						</div>
						<div class="field inline">
							<%= label_tag 'Importancia', nil, class:"label_tag"  %>
						<%= select_tag :importancia, options_for_select(@solicituds.where("importancia IS NOT NULL").uniq.pluck(:importancia), params[:importancia]), {:include_blank => 'Todas'} %>
						</div>
						<div class="field inline">
							<%= label_tag 'Solicitante', nil, class:"label_tag" %>
						<%= select_tag :solicitante, options_for_select(
							User.where(id: @solicituds.uniq.pluck(:user_id)).collect { |u| [ u.nombre + " " + u.apellido, u.id ] }, 
							params[:solicitante]), {:include_blank => 'Todas'} %>
							</div>
							<div class="field inline">
								<%= label_tag 'Responsable', nil, class:"label_tag"	 %>
						<%= select_tag :responsable, options_for_select(User.uniq.where('rol = 0').collect { |u| [ u.nombre + " " + u.apellido, u.id ]}, params[:responsable]), {:include_blank => 'Todos'} %>
						</div>
						<div class="field inline">
							<%= label_tag 'Lugar', nil, class:"label_tag" %>
						<%= select_tag :lugar, options_for_select(Ubicacion.where(id: @solicituds.uniq.pluck(:ubicacion_id)).collect{ |ub| [ub.lugar] }, params[:lugar]),  {:include_blank => 'Todos'} %>
						</div>
						<div class="actions">
							<%= submit_tag 'Filtrar', class:"custom-btn-ubication" %>
						</div>
					<% end %>
			</div>
      <div style="overflow-x:auto;">
			<table style="width:100%" class="sol_table">
		        <thead>
		          <tr>
		            <th colspan="1">Solicitante</th>
		            <th colspan="1">Descripción</th>
		            <th colspan="1">Tipo</th>
		            <th colspan="1">Importancía</th>
		            <th colspan="1">Estado</th>
		            <th colspan="1">Materiales</th>
		            <th colspan="1">Fecha</th>
		            <th colspan="1">Lugar</th>
		            <th colspan="1">Responsable</th> 
								<th colspan="1">Evaluación</th>
		          </tr>
		        </thead>

		        <tbody>
							<% (@solicituds	
							.solicitudes_filtro(
								sanitize(params[:estado]),
								sanitize(params[:importancia]),
								sanitize(params[:solicitante]),
								sanitize(params[:responsable]),
								sanitize(params[:lugar]))
							).each do |solicitud| %>
		            <tr class="sol_table">
		              <td colspan="1"> <% @user = User.find(solicitud.user)   %>
		                    <%= @user.nombre %> <%= @user.apellido %> </td>
		              <td colspan="1"><%= solicitud.descripcion %></td>
		              <td colspan="1"><%= solicitud.tipo %></td>
		              <td colspan="1"><%= solicitud.importancia %></td>
		              <td colspan="1"><%= solicitud.estado %></td>
		              <td colspan="1"><%= solicitud.materiales %></td>
		              <td colspan="1">Creada: <%= solicitud.fecha_creada.strftime("%m/%d/%Y") %>
									<br>
									<%if solicitud.estado=="Aceptada"%>
										<br>
										Aceptada: <%= solicitud.fecha_aceptada.strftime("%m/%d/%Y") %>
									<%end%>
									<br>
									<%if solicitud.estado=="Comentada"%>
										Comentada: <%= solicitud.fecha_comentada.strftime("%m/%d/%Y") %>
									<%end%>
									<br>
									<%if solicitud.estado=="Realizada"%>
										Realizada: <%= solicitud.fecha_realizada.strftime("%m/%d/%Y") %>
									<%end%>
									</td>
		              <td colspan="1"><%= solicitud.ubicacion.lugar %></td>
		              <td colspan="1"><%= solicitud.ubicacion.users.map{|p| p.nombre + " " + p.apellido}.to_sentence %></td>
		              <td colspan="3" style="padding-bottom: 15px;">
		                 <% if solicitud.estado == "Evaluada" %>
			              <div class="actions boton"><%= link_to 'Ver Evaluación',solicitud_evaluacions_path(solicitud) %>	</div>
			            	<% elsif solicitud.estado == "Comentada" %>
                  <div class="actions boton"><%= link_to 'Ver Observación', solicitud_observations_path(solicitud) %>	</div>                  
                  
									</td>                       
					    </tr>
		            <% end %>
		          <% end %>
		        </tbody>
	      </table> 
				<br>  
	
</main>
