<main class="detalle">
			<div class="breadcrumb-class">Está en: Ciencias Humanas ><span> Solicitudes > Mis Solicitudes </span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
			<p id="notice"><%= notice %></p>

      <h1 style="text-align: center">Mis Solicitudes</h1>
				<div class="links">
					<%= link_to "Exportar Datos - Excel", responsable_solicituds_path(format: "xlsx") %>
					<%= link_to "Regresar", welcome_index_path  %>
					<%= link_to "Salir", logout_path , method: :delete, :class => 'navbar-link' %>
				</div>
      <div style="overflow-x:auto;">
			<table style="width:100%" class="sol_table">
		        <thead>
		          <tr>
		            <th colspan="1">Solicitante</th>
		            <th colspan="1">Descripcion</th>
		            <th colspan="1">Tipo</th>
		            <th colspan="1">Importancia</th>
		            <th colspan="1">Estado</th>
		            <th colspan="1">Materiales</th>
		            <th colspan="1">Fecha</th>
		            <th colspan="1">Lugar</th>
		            <th colspan="1">Responsable</th> <th colspan="1">Acciones</th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @solicituds.each do |solicitud| %>	          
		          
		          	<%= print current_user.nombre.in? solicitud.ubicacion.users.map{|p| p.nombre}.to_sentence %>
		          <% if  current_user.nombre.in? solicitud.ubicacion.users.map{|p| p.nombre}.to_sentence  %>
		            <tr class="sol_table">
		              <td colspan="1"> <% @user = User.find(solicitud.user)   %>
		                    <%= @user.nombre %> <%= @user.apellido %> </td>
		              <td colspan="1"><%= solicitud.descripcion %></td>
		              <td colspan="1"><%= solicitud.tipo %></td>
		              <td colspan="1"><%= solicitud.importancia %></td>
		              <td colspan="1"><%= solicitud.estado %></td>
		              <td colspan="1"><%= solicitud.materiales %></td>
		              <td colspan="1">
		              	 <%if solicitud.estado=="Aceptada"%>
		                	<%= solicitud.fecha_aceptada.strftime("%m/%d/%Y") %>
		                <%end%>
		                 <%if solicitud.estado=="Realizada"%>
		                	<%= solicitud.fecha_realizada.strftime("%m/%d/%Y") %>
		                <%end%>
		              <%= solicitud.fecha_creada %></td>
		              <td colspan="1"><%= solicitud.lugar %></td>
		              <td colspan="1"><%= solicitud.ubicacion.users.map{|p| p.nombre + p.apellido}.to_sentence %></td>
		              <td colspan="3" style="padding-bottom: 15px;">
		              <% if solicitud.estado == "Generada" %>
		              	<div class="actions boton"><%= link_to 'Aceptar',aceptar_solicitud_path(solicitud), method: :put, data: {confirm: '¿Estas seguro?'} %></div>
		              <% elsif solicitud.estado == "Aceptada" %>
			              <div class="actions boton"><%= link_to 'Finalizar',realizar_solicitud_path(solicitud), method: :put, data: {confirm: '¿Estas seguro?'} %></div>      
					            
					    <% elsif solicitud.estado == "Evaluada" %>
			              <div class="actions boton"><%= link_to 'Ver Evaluación',solicitud_evaluacions_path(solicitud) %>	</div>
			            <% end %>

			             <%if solicitud.estado=="Aceptada"%>
		                	<div class="actions boton"><%= link_to 'Observación',new_solicitud_observation_path(solicitud) %>	</div>
		                <%end%>
			            </td>                       
					    </tr>
		            
		          <% end %>
		          <% end %>
		        </tbody>
	      </table>  
				<br> 
</main>

