
			<div class="breadcrumb-class">Está en:<a href="index.html" target="_self" title="Inicio">Ciencias Humanas</a><span>Solicitudes </span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
  
			<p id="notice"><%= notice %></p>

      <h1 style="text-align: center">Mis Solicitudes</h1>
			<table style="width:100%">
		        <thead>
		          <tr>
		            <th>Usuario</th>
		            <th>Descripcion</th>
		            <th>Tipo</th>
		            <th>Importancia</th>
		            <th>Estado</th>
		            <th>Materiales</th>
		            <th>Fecha</th>
		            <th>Lugar</th>
		            <th>Responsable</th>      
		            <th>Acciones</th>
		            <th colspan="3"></th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @solicituds.each do |solicitud| %>
		            <tr>
		              <td> <% @user = User.find(solicitud.user)   %>
		                    <%= @user.email  %></td>
		              <td><%= solicitud.descripcion %></td>
		              <td><%= solicitud.tipo %></td>
		              <td><%= solicitud.importancia %></td>
		              <td><%= solicitud.estado %></td>
		              <td><%= solicitud.materiales %></td>
		              <td><%= solicitud.fecha %></td>
		              <td><%= solicitud.lugar %></td>
		              <td><%= solicitud.nombre_responsable %></td>
		              <% if solicitud.estado == "Generada" %>
		              	<td><%= link_to 'Aceptar',aceptar_solicitud_path(solicitud), method: :put, data: {confirm: '¿Estas seguro?'} %></td>
		              <% elsif solicitud.estado == "Aceptada" %>
			              <td><%= link_to 'Finalizar',realizar_solicitud_path(solicitud), method: :put, data: {confirm: '¿Estas seguro?'} %></td>                            
					            
					    <% elsif solicitud.estado == "Evaluada" %>
			              <td><%= link_to 'Ver Evaluación',solicitud_evaluacions_path(solicitud) %>	</td>                       
					            </tr>
		            <% end %>
		          <% end %>
		        </tbody>
	      </table>      

<%= link_to "Salir", logout_path , method: :delete, :class => 'navbar-link' %>
