
<%= form_for :evaluacion, url: solicitud_evaluacions_path do |f| %>
  
  <% if evaluacion.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(evaluacion.errors.count, "error") %> prohibited this evaluacion from being saved:</h2>

      <ul>
      <% evaluacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calificacion %>
    <%= f.select :calificacion, [1,2,3,4,5] %>
  </div>

  <div class="field">
    <%= f.label :obervacion %>
    <%= f.text_field :obervacion %>
  </div>

   <%= f.hidden_field :solicitud_id, :value => @solicitud.id %>

  <div class="actions">
    <%= f.submit "Guardar Evaluación"%>
  </div>
<% end %>
