<main class="detalle">
			<div class="breadcrumb-class">Est치 en: Ciencias Humanas ><span>Solicitudes > Usuarios > Inicio de Sesi칩n</span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
			<div class="links">
				<%= render "devise/shared/links" %>
			</div>
			<div class="register-content">
			<h2  class="register-label">Iniciar sesion</h2>
	
	
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.label :correo %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			</div>

			<div class="field">
				<%= f.label :contrase침a %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class="actions">
				<%= f.submit "Iniciar Sesi칩n" %>
			</div>
			<% end %>
		<div>
		
		</main>
		
