<main class="detalle">
			<div class="breadcrumb-class">Está en:<a href="index.html" target="_self" title="Inicio">Ciencias Humanas</a><span>Solicitudes > Usuarios > Inicio de Sesión</span></div>
						<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
			<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
			<div class="register-content">
			<h2  class="register-label">Iniciar sesion</h2>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.label :correo %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			</div>

			<div class="field">
				<%= f.label :contraseña %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="field">
				<%= f.check_box :remember_me %>
				<%= f.label :recuerdame %>
				</div>
			<% end -%>

			<div class="actions">
				<%= f.submit "Log in" %>
			</div>
			<% end %>
		<div>
		<div class="links">
			<%= render "devise/shared/links" %>
		</div>
		
		</main>
		
